{
  "cron": "* * * * *",
  "debug": true,
  "websites": [
    {
      "name": "Quark",
      "method": "POST",
      "headers": {
        "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36 QuarkPC/4.5.0.511",
        "Cookie": "YOUR_COOKIE"
      },
      "query": {
        "pr": "ucpro",
        "fr": "android",
        "kps": "YOUR_KPS",
        "sign": "YOUR_SIGN",
        "vcode": "YOUR_VCODE"
      },
      "body": {
        "sign_cyclic": true
      }
    },
    {
      "name": "JD",
      "method": "POST",
      "headers": {
        "Origin": "https://bean.jd.com",
        "Referer": "https://bean.jd.com/myJingBean/list",
        "dnt": "1",
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36 QuarkPC/4.5.5.535",
        "Cookie": "YOUR_COOKIE"
      },
      "body": {
        "h5st": "YOUR_H5ST",
        "uuid": "YOUR_UUID",
        "loginType": "YOUR_LOGIN_TYPE",
        "appid": "YOUR_APPID",
        "asset-h5": "YOUR_ASSET_H5",
        "client": "YOUR_CLIENT",
        "body": "YOUR_BODY",
        "functionId": "YOUR_FUNCTION_ID",
        "x-api-eid-token": "YOUR_X_API_EID_TOKEN",
        "area": "YOUR_AREA",
      }
    }
  ],
  "notifications": {
    "wecom": {
      "key": "YOUR_KEY"
    },
    "telegram": {
      "bot_token": "YOUR_BOT_TOKEN",
      "uid": "YOUR_UID"",
      "chat_id": "YOUR_CHAT_ID"
    }
  },
  "proxy": {
    "host": "http://127.0.0.1",
    "port": "7890"
  }
}