{
  "cron": "* 8 * * *",
  "debug": true,
  "websites": [
    {
      "name": "ikuuu",
      "method": "POST",
      "headers": {
        "origin": "https://ikuuu.de",
        "referer": "https://ikuuu.de/user",
        "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36 QuarkPC/4.5.0.511",
        "x-requested-with": "XMLHttpRequest",
        "Cookie": ""
      }
    },
    {
      "name": "Quark",
      "method": "POST",
      "headers": {
        "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36 QuarkPC/4.5.0.511",
        "Cookie": ""
      },
      "query": {
        "pr": "ucpro",
        "fr": "android",
        "kps": "YOUR_KPS",
        "sign": "YOUR_SIGN",
        "vcode": "YOUR_VCODE"
      },
      "body": {
        "sign_cyclic": true
      }
    },
    {
      "name": "JD",
      "method": "POST",
      "headers": {
        "Cookie": ""
      },
      "body": {
        "area": ""
      }
    }
  ],
  "notifications": {
    "wecom": {
      "webhook": "https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=YOUR_WEBOOK_KEY"
    },
    "telegram": {
      "bot_token": "",
      "uid": "",
      "api_host": "",
      "chat_id": ""
    }
  },
  "proxy": {
    "host": "http://127.0.0.1",
    "port": "7890"
  }
}